[core]
  pager = delta
  ignorecase = false
  user = isra17
  email = isra017@gmail.com
[user]
  name = isra17
  email = isra017@gmail.com
  signingkey = 1CC41BDA25C59CC730AEEBF2FD82807A81EFFB7C
[push]
  default = simple
[pull]
  rebase = true
[alias]
  st = status -b -s
  g = grep -n --color
  l = log --graph --decorate --oneline
  p = push
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
  stat = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
[merge]
  tool = vimdiff
  conflictstyle = diff3
[commit]
  gpgsign = true
[checkout]
  defaultRemote = origin
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true

