[core]
  pager = delta
  ignorecase = false
  user = isra17
  email = isra017@gmail.com
[user]
  name = isra17
  email = isra017@gmail.com
	signingkey = /Users/israelhalle/.ssh/id_ed25519.pub
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[alias]
  st = status -b -s
  g = grep -n --color
  l = log --graph --decorate --oneline
  p = push
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
  stat = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE:-master}\")
	next = stack next
	prev = stack previous
	reword = stack reword
	amend = stack amend
	sync = stack sync
	run = stack run
  clean-gone = !git remote prune origin && git branch -vv | grep ': gone]' | cut -d ' ' -f 3 | xargs -r git branch -D
[merge]
  tool = vimdiff
  conflictstyle = diff3
[commit]
  gpgsign = true
[checkout]
  defaultRemote = origin
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true

[log]
	mailmap = true
[rerere]
	enabled = true
[rebase]
  updateRefs = true
[gpg]
	format = ssh
